<!DOCTYPE html>
<html>
<head>
    <title>Add Application</title>
</head>
<body>

    <h1>Add Job Application</h1>

    <form>

        <label>Company Name</label>
        <br>
        <input type="text">
        <br><br>

        <label>Position</label>
        <br>
        <input type="text">
        <br><br>

        <label>Status</label>
        <br>
        <select>
            <option>Applied</option>
            <option>Interview</option>
            <option>Rejected</option>
            <option>Offer</option>
        </select>

        <br><br>

        <button type="submit">
            Save Application
        </button>

    </form>

</body>
</html>