<form method="POST">

    <label>Company Name</label>
    <br>
    <input type="text" name="company" required>
    <br><br>

    <label>Position</label>
    <br>
    <input type="text" name="position" required>
    <br><br>

    <label>Status</label>
    <br>
    <select name="status">

        <option>Applied</option>
        <option>Interview</option>
        <option>Rejected</option>
        <option>Offer</option>

    </select>

    <br><br>

    <button type="submit">
        Save Application
    </button>

</form>