<!DOCTYPE html>
<html>

<head>
    <title>Edit Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Edit Status</h1>

    <form method="POST">

        <label>Status</label>

        <br>

        <select name="status">

            <option value="Applied"
                {% if application[3] == "Applied" %}selected{% endif %}>
                Applied
            </option>

            <option value="Interview"
                {% if application[3] == "Interview" %}selected{% endif %}>
                Interview
            </option>

            <option value="Offer"
                {% if application[3] == "Offer" %}selected{% endif %}>
                Offer
            </option>

            <option value="Rejected"
                {% if application[3] == "Rejected" %}selected{% endif %}>
                Rejected
            </option>

        </select>

        <br><br>

        <label>Notes</label>

        <br>

        <textarea
            name="notes"
            rows="6"
            cols="50"
        >{{ application[5] }}</textarea>

        <br><br>

        <button type="submit">
            Update Application
        </button>

    </form>

    <br>

    <a href="/">Back to Dashboard</a>

</body>

</html>