<!DOCTYPE html>
<html>

<head>
    <title>Edit Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Edit Status</h1>

    <form method="POST">

        <label>Status</label>

        <br>

        <select name="status">
            <option>Applied</option>
            <option>Interview</option>
            <option>Rejected</option>
            <option>Offer</option>
        </select>

        <br><br>

        <button type="submit">
            Update Status
        </button>

    </form>

    <br>

    <a href="/">Back to Dashboard</a>

</body>

</html>